  button {
    margin-right: 1vh;
    background-color: rgb(243, 67, 243); 
    /* border: black  solid 1vh; */
    border-radius: 20%;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
    height: 8vh;
    width: 30vh;
  }
  button:hover{

    background-color: rgb(207, 21, 151); ;
  }

  .buttonsul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  p{
    margin: 0px;
  }

  .item-bot ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  